*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    background: url(background.png);
    background-size: cover;
    padding: 0 8%;
    position: relative;
}
.logo{
    width: 120px;
    padding: 20px 0;
}
.content{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}
.content h1{
    font-size: 44px;
    font-weight: 600;
}
.content h1 span{
    color: #ff3753;
}
.launch-time{
    display: flex;
}
.launch-time div{
    flex-basis: 100px;
}
.launch-time div p{
    font-size: 60px;
    margin-bottom: -14px;
}
.rocket{
    width: 250px;
    position: absolute;
    right: -80%;
    bottom: 50;
    animation: rocket 4s linear infinite;
}
.launch-time span{
    text-align: center;
    margin-top: 10;
}
@keyframes rocket{
    0%{
        bottom: 50;
        opacity: 0;
    }
    
    50%{
        bottom: 60;
        opacity: 1;
    }
    100%{
        bottom: 105%;
        opacity: 1;
    }
}